<h2>This is the Index</h2>
<ul>
  <li><a href="/new">upload video</a></li>
</ul>

<% @videos.each do |video| %>
  <iframe width="560" height="315" src="<%= video['url']%>" frameborder="0" allowfullscreen></iframe>
<% end %>